.custom-tab {
  all: unset;
  height: 60px;
  list-style: none;
}

.custom-tab .active {
  box-shadow: 0 6px 15px #5baba8;
  border: 1px #5baba8 solid;
  top: -3px;
  color: #11ece5;
}

.tab {
  padding: 15px;
  background-color: rgb(24, 26, 30);
  border: 1px rgba(255, 255, 255, 0.15) solid;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  width: max-content;
  float: left;
  margin-left: 15px;
  position: relative;
  transition: box-shadow 0.5s ease 0s, top 0.5s ease 0s, border 0.5s ease 0s, color 0.5s ease 0s;
  top: 0;

  &:first-child {
    margin-left: 0;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.5);
    top: -3px;
    border: 1px rgba(255, 255, 255, 0.3) solid;
    color: rgba(255, 255, 255, 0.8);
  }
}
